#container {
    width: 1200px;
    height: 800px;
    display: flex;
    /* background-color: beige; */
    margin: auto;
    overflow-y: hidden;
    border: #0f0f0f 2px solid;
}


#left {
    width: 40%;
    height: 100%;
    border-right: #0f0f0f 2px solid;
    /* background-color: brown; */
}

#right {
    width: 60%;
    height: 100%;
    /* background-color: aquamarine; */
}
